*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
body{
    overflow-x: hidden;
    width: 101%;
    background-color: #F5F5F5;
}
/* Estilo scrrolbar */
body::-webkit-scrollbar{
    width: 10px;
    background-color: #259182;
}
body::-webkit-scrollbar-thumb{
    background-color: #30E3CA;
    border-radius: 5px;
}
/* Inicio de estilos de la web */
section{
    max-width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F5F5F5;
    position: relative;
}
#title{
    font-family: 'Josefin Sans', sans-serif;
}
.home{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1A1D29;
}
.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 8%;
}
.texto{
    width: 45%;
    height: 100%;
    display: flex;
    margin-top: 5%;
    margin-left: 8%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.texto h1{
    font-size: 120px;
    color: #edf2f4;
    font-weight: bold;
}
.texto h4{
    font-size: 40px;
    font-weight: semibold;
    color: #30E3CA;
    margin-top: 10%;
}
.foto{
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 75%;
    display: flex;
    margin-left: 15%;
}
/* Estilos de la seccion de servicios */
.servicios{
    width: 100%;
    height: 100%;
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sections-title{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
}
.sections-title h1{
    font-size: 65px;
    color: #1E1E1E;
    font-weight: semibold;
    padding: 15px;
}
.sections-title p{
    font-size: 28px;
    color: #231F20;
    width: 80%;
    margin: 0 auto;
}
/*Cards de servicios*/
.card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
.card{
    width: 80%;
    height: 320px;
    background-color: #1A1D29;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.card-header{
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
    margin-top: 5%;
}
.card-header h3{
    width: 70%;
    height: 100%;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    color: #F5F5F5;
    margin-left: 3%;
}
.card-header img{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: right;
}
.content{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.content ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
.content li{
    color: #F5F5F5;
    font-size: 30px;
}
/*Fin de seccion servicios*/

/*Inicio de la seccion valores*/
.valores{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valores-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: -5%;
    padding: 15px;
}
.item-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.item{
    max-width: 500px;
    min-height: 280px;
    padding: 15;
    background-color: #1A1D29;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.title-item{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #3CA495;
    font-weight: bold;
    font-size: 32px;
}
.item-content{
    width: 95%;
    height: 90%;
    color: #F5F5F5;
    font-size: 24px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
/*Fin de la seccion valores*/

/*Inicio de la seccion proyectos*/
.proyectos{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.proyectos h1{
    color: #F5F5F5;
}
.proyectos-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.circle-container{
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle-container button{
    background: none;
    border: none;
}
.project-name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #F5F5F5;
}
.circle-container:hover{
    transition: 1.2s;
    color: #30E3CA;
    text-shadow: 0 0 20px #4f9;
}
.circle-item{
    width: 50px;
    height: 50px;
    background-color: #30E3CA;
    border-radius: 50%;
    box-shadow: 0 0 20px #4f9;
    cursor: pointer;
}
#circle1, #circle3{
    margin-top: -15%;
}
.items-explained{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.item-explained{
    width: 400px;
    min-height: 480px;
    background-color: #1A1D29;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: none;
}
.top-item{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.top-item i{
    font-size: 30px;
    color: #01fdf6;
    cursor: pointer;
}
.top-item i:hover{
    color: #e63946;
    transition: 0.3s;
}
.top-item button{
    background: none;
    border: none;
    margin-right: 5%;
    margin-top: 5%;
}
.logo-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.logo-item img{
    width: 60%;
    margin: 0 auto;
}
.content-item{
    margin-left: 2%;
    margin-right: 2%;
    color: #F5F5F5;
    text-align: left;
    font-size: 18px;
}
.lenguajes-logo{
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lenguajes-logo img{
    width: 60px;
    height: 60px;
}
.item-button{
    display: flex;
    background-color: #30E3CA;
    width: 95%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-button a{
    color: #F5F5F5;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

/*Inicio del apartado de contacto*/
.contacto{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.contact-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}
.form-container{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.duo-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.single-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.img-container{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: space-between;
}
.input{
    padding: 15px;
    width: 850px;
    margin-top: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #00bfb3;
    text-align: left;
    font-size: 20px;
    color: #03b5aa;
}
input::placeholder{
    color: #3F3D56;
}
.input-type1{
    width: 400px;
    height: 30px;
}
.input-type3{
    height: 120px;
}
.input-type3:focus{
    outline: none;
}
.form_submit{
    background-color: #00bfb3;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
}
.form_submit:hover{
    transition: 0.3s;
    background-color: #129490;
}
.pref-contact{
    width: 440px;
    height: 30px;
    margin-top: 70px;
    display: flex;
    border: none;
    border-bottom: 3px solid #00bfb3;
    justify-content: space-between;
    margin-left: 10px;
}
.lab-pref{
    font-size: 20px;
    color: #3F3D56;
    display: flex;
    text-align: center;
    margin-top: -10px;
}
select {
    width: 140px;
    margin-top: -20px;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: transparent;
    background-image: url(../img/angles-down-solid\ 1.svg);
    background-repeat: no-repeat;
    background-position: right center;
    color:#129490;
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    padding-left: 5px;
 }
 input:focus{ outline: none;}

/*Footer*/
footer{
    background-color: #1A1D29;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.footer-top{
    color: #F5F5F5;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 5%;
    text-align: center;
}
.footer-top h3{
    margin-top: 30px;
}
.footer-mid{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.columna1, .columna2, .columna3{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1faee;
    font-size: 14px;
}
.columna1, .columna3 h4{
    font-size: 18px;
    margin-bottom: 15px;
}
.columna1{
    display: flex;
    align-items: center;
}
.columna2 img{
    width: 60%;
}
.columna3 img{
    color: #01fdf6;
}
small{
    text-align: center;
    color: #F5F5F5;
}
/* Inicio css tablet */
@media (max-width: 1200px) {
    html{
        overflow-x: hidden;
    }
    .home-container{
        width: 95vw;
        height: 90vh;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
    }
    .texto{
        width: 50%;
        height: 100%;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
    }
    .texto h1{
        font-size: 80px;
    }
    .texto h4{
        font-size: 32px;
    }
    .foto{
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card{
        padding: 5px;
        margin-bottom: 25px;
    }
    .card h3{
        font-size: 38px;
    }
    .card-header img{
        width: 60px;
        height: 55px;
    }
    /*valores*/
    .valores-container{
        display: flex;
        flex-direction: column;
    }
    .item-content{
        margin-bottom: 15px;
    }
    /*Contacto*/
    .contacto{
        width: 100%;
        height: 100%;
    }
    .contacto h1{
        font-size: 45px;
    }
    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }
    .form-container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .img-container{
        display: flex;
        width: 85%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .img-container img{
        width: 60%;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .input-type1{
        width: 300px;
        height: 30px;
    }
    .input-type3{
        height: 120px;
    }
    .form_submit{
        margin-bottom: 5%;
    }
    .form_submit:hover{
        transition: 0.3s;
        background-color: #129490;
    }
    .mobile-single{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .input-number{
        width: 92%;
        margin-left: -22px;
    }
    .input-number input{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .pref-contact{
        width: 100%;
        height: 30px;
        margin-top: 70px;
        display: flex;
    }
    .lab-pref{
        font-size: 20px;
        color: #3F3D56;
        display: flex;
        text-align: left;
        margin-top: -10px;
    }
    .select-pref{
        width: 32%;
    }
}
/* Inicio de css para celular */
@media (max-width: 750px) {
/* inicio */
.home-container{
    flex-direction: column-reverse;
    width: 95vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 85%;
    height: 50%;
    display: flex;
    margin-top: -30%;
    flex-direction: column;
    align-items: center;
}
.texto h1{
    font-size: 70px;
    color: #edf2f4;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
}
.texto h4{
    font-size: 24px;
    font-weight: semibold;
    color: #30E3CA;
    margin-top: 8%;
}
.foto{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.foto img{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
/* servicios */
.sections-title p{
    font-size: 18px;
    color: #231F20;
    width: 95%;
    margin: 0 auto;
    text-align: left;
}
.card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 90%;
    height: 50%;
    background-color: #1A1D29;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.card-header{
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
    margin-top: 5%;
}
.card-header h3{
    width: 70%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    color: #F5F5F5;
    margin-left: 3%;
}
.card-header img{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: right;
}
.content{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
.content li{
    color: #F5F5F5;
    font-size: 18px;
    padding: 5px;
}

/* valores */

.valores-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 2%;
    padding: 5px;
}
.item-container{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.item{
    height: 220px;
    padding: 5;
    margin-bottom: 5%;
}
.title-item{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #3CA495;
    font-weight: bold;
    font-size: 32px;
}
.item-content{
    width: 95%;
    height: 90%;
    color: #F5F5F5;
    font-size: 18px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

/*proyectos*/
.proyectos-container{
    flex-direction: column;
}
.circle-container{
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #F5F5F5;
}
.circle-container:hover{
    transition: 1.2s;
    color: #30E3CA;
    text-shadow: 0 0 20px #4f9;
}
.circle-item{
    width: 50px;
    height: 50px;
    background-color: #30E3CA;
    border-radius: 50%;
    box-shadow: 0 0 20px #4f9;
    cursor: pointer;
}
#circle1, #circle3{
    margin-top: 5%;
}
.item-explained{
    width: 85%;
    height: 400px;
    background-color: #1A1D29;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: none;
}
.logo-item img{
    width: 60%;
}
.content-item{
    margin-left: 2%;
    margin-right: 2%;
    color: #F5F5F5;
    text-align: left;
    font-size: 18px;
}
.lenguajes-logo{
    width: 95%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.lenguajes-logo img{
    width: 60px;
    height: 60px;
}
.item-button{
    display: flex;
    background-color: #30E3CA;
    width: 95%;
    height: 45px;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-button a{
    color: #F5F5F5;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/*contacto*/
.input-type1{
    width: 85%;
    height: 30px;
    padding: 5px;
}
/*Footer*/
footer{
    z-index: 4;
}
.footer-top{
    width: 90%;
    font-size: 18px;
    margin: 0 auto;
}
.footer-top h3{
    margin-top: 30px;
}
.footer-mid{
    width: 85%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
.columna1, .columna3{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0 auto;
}
.columna1, .columna3 h4{
    font-size: 16px;
    margin-bottom: 15px;
}
.columna1{
    display: flex;
    align-items: center;
}
.columna2 img{
    display: none;
}
.columna3 img{
    color: #01fdf6;
}
}
