*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
body{
    overflow-x: hidden;
    width: 101%;
    background-color: #F5F5F5;
}
/* Estilo scrrolbar */
body::-webkit-scrollbar{
    width: 10px;
    background-color: #259182;
}
body::-webkit-scrollbar-thumb{
    background-color: #30E3CA;
    border-radius: 5px;
}
/* Inicio de estilos de la web */
section{
    max-width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F5F5F5;
    position: relative;
}
#title{
    font-family: 'Josefin Sans', sans-serif;
}
.home{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1A1D29;
}
.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 8%;
}
.texto{
    width: 45%;
    height: 100%;
    display: flex;
    margin-top: 5%;
    margin-left: 8%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.texto h1{
    font-size: 120px;
    color: #edf2f4;
    font-weight: bold;
}
.texto h4{
    font-size: 40px;
    font-weight: semibold;
    color: #30E3CA;
    margin-top: 10%;
}
.foto{
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 75%;
    display: flex;
    margin-left: 15%;
}
/* Estilos de la seccion de servicios */
.servicios{
    width: 100%;
    height: 100%;
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sections-title{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
}
.sections-title h1{
    font-size: 65px;
    color: #1E1E1E;
    font-weight: semibold;
    padding: 15px;
}
.sections-title p{
    font-size: 28px;
    color: #231F20;
    width: 80%;
    margin: 0 auto;
}
/*Cards de servicios*/
.card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
.card{
    width: 80%;
    height: 320px;
    background-color: #1A1D29;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.card-header{
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
    margin-top: 5%;
}
.card-header h3{
    width: 70%;
    height: 100%;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    color: #F5F5F5;
    margin-left: 3%;
}
.card-header img{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: right;
}
.content{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.content ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
.content li{
    color: #F5F5F5;
    font-size: 30px;
}
/*Fin de seccion servicios*/

/*Inicio de la seccion valores*/
.valores{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valores-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: -5%;
    padding: 15px;
}
.item-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.item{
    max-width: 500px;
    min-height: 280px;
    padding: 15;
    background-color: #1A1D29;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.title-item{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #3CA495;
    font-weight: bold;
    font-size: 32px;
}
.item-content{
    width: 95%;
    height: 90%;
    color: #F5F5F5;
    font-size: 24px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
/*Fin de la seccion valores*/

/*Inicio de la seccion proyectos*/
.proyectos{
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.proyectos h1{
    color: #F5F5F5;
}
.proyectos-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.circle-container{
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle-container button{
    background: none;
    border: none;
}
.project-name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #F5F5F5;
}
.circle-container:hover{
    transition: 1.2s;
    color: #30E3CA;
    text-shadow: 0 0 20px #4f9;
}
.circle-item{
    width: 50px;
    height: 50px;
    background-color: #30E3CA;
    border-radius: 50%;
    box-shadow: 0 0 20px #4f9;
    cursor: pointer;
}
#circle1, #circle3{
    margin-top: -15%;
}
.items-explained{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.item-explained{
    width: 400px;
    height: 450px;
    background-color: #1A1D29;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: none;
}
.top-item{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.top-item i{
    font-size: 30px;
    color: #01fdf6;
    cursor: pointer;
}
.top-item i:hover{
    color: #e63946;
    transition: 0.3s;
}
.top-item button{
    background: none;
    border: none;
    margin-right: 5%;
    margin-top: 5%;
}
.logo-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.logo-item img{
    width: 60%;
    margin: 0 auto;
}
.content-item{
    margin-left: 2%;
    margin-right: 2%;
    color: #F5F5F5;
    text-align: left;
    font-size: 18px;
}
.lenguajes-logo{
    width: 95%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.lenguajes-logo img{
    width: 60px;
    height: 60px;
}
.item-button{
    display: flex;
    background-color: #30E3CA;
    width: 95%;
    height: 45px;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-button a{
    color: #F5F5F5;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/*animacion estrellas*/
#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 916px 313px #FFF , 1625px 1274px #FFF , 1174px 423px #FFF , 1188px 510px #FFF , 1474px 1372px #FFF , 1366px 1269px #FFF , 1236px 1435px #FFF , 896px 1597px #FFF , 1158px 173px #FFF , 1260px 598px #FFF , 1895px 918px #FFF , 1478px 1904px #FFF , 662px 1310px #FFF , 1275px 1975px #FFF , 522px 563px #FFF , 286px 1593px #FFF , 46px 1523px #FFF , 1867px 629px #FFF , 1163px 1824px #FFF , 772px 1855px #FFF , 364px 1840px #FFF , 1523px 557px #FFF , 688px 804px #FFF , 378px 1655px #FFF , 120px 574px #FFF , 1357px 647px #FFF , 16px 498px #FFF , 1183px 1525px #FFF , 529px 1796px #FFF , 1757px 558px #FFF , 953px 1553px #FFF , 1236px 836px #FFF , 1298px 1850px #FFF , 1909px 1455px #FFF , 378px 1810px #FFF , 801px 1736px #FFF , 1485px 513px #FFF , 912px 1564px #FFF , 71px 1228px #FFF , 732px 249px #FFF , 1290px 972px #FFF , 1385px 184px #FFF , 625px 853px #FFF , 1178px 1878px #FFF , 1897px 1771px #FFF , 35px 925px #FFF , 827px 106px #FFF , 226px 1274px #FFF , 1886px 1550px #FFF , 1508px 179px #FFF , 22px 816px #FFF , 1937px 227px #FFF , 50px 1671px #FFF , 1680px 1890px #FFF , 1642px 1087px #FFF , 1124px 1300px #FFF , 170px 1538px #FFF , 872px 94px #FFF , 326px 447px #FFF , 1088px 482px #FFF , 939px 261px #FFF , 863px 538px #FFF , 1937px 347px #FFF , 1878px 1972px #FFF , 1346px 1506px #FFF , 573px 607px #FFF , 1009px 1082px #FFF , 813px 1068px #FFF , 805px 268px #FFF , 1019px 1133px #FFF , 1282px 1945px #FFF , 276px 1489px #FFF , 574px 583px #FFF , 1333px 675px #FFF , 325px 1963px #FFF , 674px 946px #FFF , 1274px 511px #FFF , 1407px 736px #FFF , 841px 1216px #FFF , 703px 649px #FFF , 1638px 131px #FFF , 1603px 1246px #FFF , 891px 556px #FFF , 749px 1853px #FFF , 1608px 169px #FFF , 442px 589px #FFF , 966px 1298px #FFF , 85px 740px #FFF , 525px 180px #FFF , 1922px 1379px #FFF , 1878px 857px #FFF , 371px 1217px #FFF , 222px 1460px #FFF , 1995px 435px #FFF , 957px 167px #FFF , 1119px 1438px #FFF , 1411px 360px #FFF , 365px 937px #FFF , 1040px 1308px #FFF , 1953px 1230px #FFF , 1427px 1895px #FFF , 1967px 222px #FFF , 1200px 1193px #FFF , 477px 765px #FFF , 1931px 1651px #FFF , 1395px 639px #FFF , 142px 1359px #FFF , 1398px 486px #FFF , 904px 834px #FFF , 938px 613px #FFF , 474px 906px #FFF , 274px 476px #FFF , 785px 1135px #FFF , 772px 126px #FFF , 1351px 214px #FFF , 270px 199px #FFF , 1746px 636px #FFF , 1889px 7px #FFF , 582px 1974px #FFF , 488px 800px #FFF , 684px 785px #FFF , 197px 1140px #FFF , 1033px 127px #FFF , 426px 923px #FFF , 315px 1391px #FFF , 428px 770px #FFF , 978px 132px #FFF , 65px 953px #FFF , 1069px 939px #FFF , 686px 1779px #FFF , 674px 1763px #FFF , 434px 1745px #FFF , 1237px 51px #FFF , 794px 1967px #FFF , 136px 82px #FFF , 1795px 385px #FFF , 1477px 1877px #FFF , 387px 144px #FFF , 213px 919px #FFF , 661px 1242px #FFF , 747px 1553px #FFF , 1868px 538px #FFF , 1395px 1298px #FFF , 801px 1447px #FFF , 673px 92px #FFF , 282px 380px #FFF , 1773px 1140px #FFF , 870px 4px #FFF , 443px 1619px #FFF , 394px 905px #FFF , 715px 714px #FFF , 294px 444px #FFF , 1170px 1591px #FFF , 1179px 792px #FFF , 547px 1794px #FFF , 1021px 427px #FFF , 765px 1330px #FFF , 560px 772px #FFF , 1874px 909px #FFF , 1998px 100px #FFF , 537px 560px #FFF , 432px 1808px #FFF , 941px 1778px #FFF , 1477px 1357px #FFF , 1876px 1377px #FFF , 138px 1522px #FFF , 624px 1331px #FFF , 739px 834px #FFF , 1944px 1994px #FFF , 1012px 1429px #FFF , 1518px 1205px #FFF , 574px 1987px #FFF , 1260px 1111px #FFF , 1489px 278px #FFF , 1614px 840px #FFF , 1128px 175px #FFF , 1140px 1373px #FFF , 80px 444px #FFF , 1632px 1522px #FFF , 1074px 320px #FFF , 1737px 1209px #FFF , 478px 983px #FFF , 90px 755px #FFF , 1700px 564px #FFF , 1725px 1016px #FFF , 1765px 369px #FFF , 1027px 1873px #FFF , 810px 1600px #FFF , 265px 1118px #FFF , 388px 103px #FFF , 1839px 871px #FFF , 1946px 239px #FFF , 1591px 411px #FFF , 156px 667px #FFF , 1363px 989px #FFF , 543px 1132px #FFF , 1343px 1911px #FFF , 406px 1020px #FFF , 1021px 505px #FFF , 718px 1090px #FFF , 633px 1225px #FFF , 447px 1651px #FFF , 1363px 360px #FFF , 1306px 381px #FFF , 617px 709px #FFF , 732px 236px #FFF , 1277px 916px #FFF , 752px 205px #FFF , 865px 1749px #FFF , 416px 131px #FFF , 620px 945px #FFF , 1899px 227px #FFF , 247px 67px #FFF , 570px 475px #FFF , 1728px 1551px #FFF , 1425px 557px #FFF , 1031px 865px #FFF , 762px 1534px #FFF , 1146px 1512px #FFF , 1383px 1158px #FFF , 766px 704px #FFF , 1429px 1728px #FFF , 417px 226px #FFF , 98px 740px #FFF , 154px 1696px #FFF , 263px 221px #FFF , 1488px 1628px #FFF , 531px 990px #FFF , 733px 1545px #FFF , 1160px 1316px #FFF , 130px 1909px #FFF , 863px 19px #FFF , 363px 1168px #FFF , 1997px 767px #FFF , 1762px 888px #FFF , 168px 1868px #FFF , 455px 1719px #FFF , 1685px 362px #FFF , 1905px 932px #FFF , 297px 1409px #FFF , 1950px 1129px #FFF , 58px 1359px #FFF , 1177px 1554px #FFF , 353px 912px #FFF , 521px 1860px #FFF , 518px 62px #FFF , 87px 861px #FFF , 988px 145px #FFF , 871px 1491px #FFF , 613px 115px #FFF , 925px 1458px #FFF , 179px 524px #FFF , 537px 1641px #FFF , 768px 514px #FFF , 441px 33px #FFF , 1793px 1643px #FFF , 158px 1069px #FFF , 347px 1404px #FFF , 902px 65px #FFF , 419px 977px #FFF , 1575px 585px #FFF , 314px 180px #FFF , 89px 1755px #FFF , 593px 985px #FFF , 1292px 853px #FFF , 613px 83px #FFF , 212px 1639px #FFF , 1609px 1997px #FFF , 680px 1487px #FFF , 1505px 88px #FFF , 1598px 850px #FFF , 298px 182px #FFF , 643px 868px #FFF , 1585px 304px #FFF , 616px 1188px #FFF , 854px 1159px #FFF , 55px 46px #FFF , 740px 1197px #FFF , 740px 229px #FFF , 1841px 536px #FFF , 229px 998px #FFF , 1180px 38px #FFF , 1745px 1375px #FFF , 1351px 1637px #FFF , 964px 76px #FFF , 1757px 1981px #FFF , 1075px 1858px #FFF , 231px 1580px #FFF , 559px 1327px #FFF , 120px 1815px #FFF , 1767px 488px #FFF , 402px 1146px #FFF , 1022px 478px #FFF , 1195px 1762px #FFF , 1731px 741px #FFF , 919px 127px #FFF , 705px 789px #FFF , 360px 1967px #FFF , 1638px 737px #FFF , 1301px 219px #FFF , 1456px 950px #FFF , 338px 337px #FFF , 551px 20px #FFF , 778px 718px #FFF , 718px 1881px #FFF , 601px 1677px #FFF , 238px 1429px #FFF , 1128px 564px #FFF , 227px 342px #FFF , 1641px 1344px #FFF , 1950px 1043px #FFF , 194px 768px #FFF , 1276px 1316px #FFF , 986px 1145px #FFF , 1155px 294px #FFF , 755px 532px #FFF , 1153px 233px #FFF , 1449px 17px #FFF , 816px 1971px #FFF , 615px 1991px #FFF , 1125px 990px #FFF , 644px 743px #FFF , 425px 473px #FFF , 1335px 1649px #FFF , 405px 1130px #FFF , 310px 1690px #FFF , 1997px 52px #FFF , 1616px 292px #FFF , 1764px 1394px #FFF , 369px 455px #FFF , 1633px 605px #FFF , 1391px 364px #FFF , 1980px 21px #FFF , 1905px 146px #FFF , 571px 1952px #FFF , 1435px 1294px #FFF , 1985px 1887px #FFF , 1397px 598px #FFF , 524px 1489px #FFF , 1939px 353px #FFF , 76px 1788px #FFF , 1329px 1009px #FFF , 190px 1239px #FFF , 1923px 138px #FFF , 931px 705px #FFF , 1386px 901px #FFF , 848px 597px #FFF , 1536px 764px #FFF , 1622px 1160px #FFF , 1952px 1581px #FFF , 1646px 1937px #FFF , 1248px 1468px #FFF , 566px 1818px #FFF , 588px 730px #FFF , 1379px 1233px #FFF , 331px 86px #FFF , 341px 1525px #FFF , 1023px 152px #FFF , 1197px 427px #FFF , 958px 1740px #FFF , 1467px 1039px #FFF , 538px 1080px #FFF , 1806px 25px #FFF , 1690px 501px #FFF , 503px 1041px #FFF , 1869px 1126px #FFF , 1487px 729px #FFF , 369px 549px #FFF , 696px 196px #FFF , 56px 590px #FFF , 539px 1875px #FFF , 1578px 1381px #FFF , 1938px 536px #FFF , 1256px 169px #FFF , 879px 189px #FFF , 533px 104px #FFF , 146px 389px #FFF , 1529px 1713px #FFF , 1022px 620px #FFF , 1184px 714px #FFF , 943px 627px #FFF , 1094px 1758px #FFF , 108px 829px #FFF , 855px 1793px #FFF , 1224px 1699px #FFF , 1107px 779px #FFF , 1013px 1150px #FFF , 667px 1556px #FFF , 1310px 1841px #FFF , 211px 1618px #FFF , 1222px 1320px #FFF , 1784px 1599px #FFF , 610px 743px #FFF , 1781px 1697px #FFF , 159px 1597px #FFF , 1021px 359px #FFF , 1224px 847px #FFF , 140px 301px #FFF , 1915px 1800px #FFF , 871px 1789px #FFF , 1298px 633px #FFF , 174px 140px #FFF , 1013px 415px #FFF , 1971px 1002px #FFF , 1472px 1933px #FFF , 1005px 1041px #FFF , 346px 676px #FFF , 504px 325px #FFF , 1735px 1450px #FFF , 1168px 1594px #FFF , 1604px 1560px #FFF , 1686px 444px #FFF , 784px 1293px #FFF , 699px 1520px #FFF , 1px 1823px #FFF , 1787px 983px #FFF , 1051px 664px #FFF , 961px 375px #FFF , 163px 927px #FFF , 615px 1827px #FFF , 152px 1094px #FFF , 1503px 205px #FFF , 558px 911px #FFF , 461px 1196px #FFF , 1762px 240px #FFF , 1787px 1243px #FFF , 925px 1415px #FFF , 1183px 1795px #FFF , 513px 97px #FFF , 185px 215px #FFF , 1895px 1045px #FFF , 762px 876px #FFF , 946px 446px #FFF , 1150px 1486px #FFF , 255px 1571px #FFF , 911px 219px #FFF , 284px 1542px #FFF , 1235px 1478px #FFF , 1109px 495px #FFF , 223px 1618px #FFF , 191px 1326px #FFF , 1293px 687px #FFF , 1082px 67px #FFF , 1472px 768px #FFF , 1494px 1474px #FFF , 1559px 1201px #FFF , 1404px 659px #FFF , 953px 1215px #FFF , 1360px 20px #FFF , 223px 185px #FFF , 790px 589px #FFF , 753px 683px #FFF , 1162px 947px #FFF , 925px 1416px #FFF , 1459px 1681px #FFF , 1004px 399px #FFF , 1937px 1959px #FFF , 524px 431px #FFF , 1174px 144px #FFF , 717px 1241px #FFF , 705px 639px #FFF , 1703px 1279px #FFF , 202px 1244px #FFF , 207px 284px #FFF , 1101px 355px #FFF , 1056px 1837px #FFF , 570px 558px #FFF , 1583px 1372px #FFF , 36px 1857px #FFF , 1994px 1162px #FFF , 694px 1613px #FFF , 1990px 1724px #FFF , 346px 1450px #FFF , 294px 861px #FFF , 1431px 17px #FFF , 1785px 742px #FFF , 301px 364px #FFF , 921px 25px #FFF , 978px 330px #FFF , 562px 1874px #FFF , 1391px 636px #FFF , 883px 57px #FFF , 626px 1481px #FFF , 1345px 1346px #FFF , 411px 719px #FFF , 128px 743px #FFF , 1157px 1751px #FFF , 858px 204px #FFF , 472px 829px #FFF , 1181px 1673px #FFF , 193px 282px #FFF , 1746px 1805px #FFF , 91px 1578px #FFF , 1659px 27px #FFF , 1090px 126px #FFF , 1152px 608px #FFF , 85px 1322px #FFF , 732px 1537px #FFF , 1358px 1036px #FFF , 635px 631px #FFF , 204px 651px #FFF , 907px 450px #FFF , 475px 1770px #FFF , 1668px 1656px #FFF , 1775px 1279px #FFF , 1839px 673px #FFF , 1348px 1538px #FFF , 1680px 1439px #FFF , 776px 508px #FFF , 543px 300px #FFF , 1792px 665px #FFF , 94px 186px #FFF , 1511px 776px #FFF , 567px 390px #FFF , 1359px 1467px #FFF , 227px 110px #FFF , 1689px 901px #FFF , 1744px 951px #FFF , 369px 475px #FFF , 1948px 827px #FFF , 277px 31px #FFF , 86px 1014px #FFF , 692px 1670px #FFF , 1944px 1003px #FFF , 1157px 1424px #FFF , 911px 1927px #FFF , 1915px 1297px #FFF , 1344px 1122px #FFF , 1516px 1999px #FFF , 735px 1768px #FFF , 801px 123px #FFF , 420px 1987px #FFF , 696px 14px #FFF , 774px 1797px #FFF , 389px 1962px #FFF , 1779px 1522px #FFF , 1940px 654px #FFF , 1172px 1802px #FFF , 588px 833px #FFF , 379px 1545px #FFF , 1265px 346px #FFF , 843px 1595px #FFF , 766px 731px #FFF , 368px 242px #FFF , 845px 721px #FFF , 387px 1238px #FFF , 1072px 1080px #FFF , 1651px 1375px #FFF , 964px 761px #FFF , 497px 1826px #FFF , 1609px 1382px #FFF , 1488px 1223px #FFF , 1442px 1579px #FFF , 1088px 1921px #FFF , 1553px 1672px #FFF , 1658px 671px #FFF , 291px 1945px #FFF , 1516px 275px #FFF , 95px 1995px #FFF , 1931px 1420px #FFF , 175px 856px #FFF , 888px 114px #FFF , 660px 1524px #FFF , 888px 251px #FFF , 1060px 1110px #FFF , 1222px 1428px #FFF , 1039px 1631px #FFF , 1277px 1005px #FFF , 257px 494px #FFF , 182px 915px #FFF , 1898px 1443px #FFF , 1381px 1961px #FFF , 857px 1869px #FFF , 378px 179px #FFF , 1570px 1523px #FFF , 265px 1168px #FFF , 1883px 1051px #FFF , 1056px 580px #FFF , 1371px 1729px #FFF , 246px 1578px #FFF , 1807px 1464px #FFF , 680px 21px #FFF , 14px 433px #FFF , 413px 1089px #FFF , 93px 565px #FFF , 754px 769px #FFF , 1075px 621px #FFF , 1014px 1611px #FFF , 1418px 486px #FFF , 491px 1186px #FFF , 445px 163px #FFF , 266px 1768px #FFF , 1926px 131px #FFF , 1955px 1115px #FFF , 200px 816px #FFF , 715px 273px #FFF , 1354px 1505px #FFF , 681px 1675px #FFF , 386px 539px #FFF , 1245px 635px #FFF , 971px 9px #FFF , 1317px 1885px #FFF , 1473px 1528px #FFF , 1182px 641px #FFF , 618px 1156px #FFF , 81px 49px #FFF , 1108px 620px #FFF , 777px 1835px #FFF , 15px 1593px #FFF , 1850px 1336px #FFF , 1753px 308px #FFF , 816px 679px #FFF , 202px 567px #FFF , 1308px 826px #FFF , 465px 1675px #FFF , 78px 1781px #FFF , 677px 608px #FFF , 1752px 325px #FFF , 543px 1823px #FFF , 791px 1811px #FFF , 1633px 621px #FFF , 1145px 320px #FFF , 584px 1637px #FFF , 1333px 531px #FFF , 787px 1237px #FFF , 750px 1106px #FFF , 559px 1407px #FFF , 1765px 552px #FFF , 1489px 589px #FFF , 1072px 1714px #FFF , 1683px 1042px #FFF , 137px 342px #FFF , 77px 609px #FFF , 1939px 1825px #FFF , 1021px 236px #FFF , 1407px 1909px #FFF , 1587px 351px #FFF , 720px 1672px #FFF , 754px 88px #FFF , 233px 1121px #FFF , 559px 1537px #FFF , 605px 225px #FFF , 1707px 1238px #FFF , 389px 845px #FFF , 153px 1266px #FFF , 350px 1444px #FFF , 887px 85px #FFF , 146px 1721px #FFF , 384px 1026px #FFF , 1494px 902px #FFF , 1983px 106px #FFF , 530px 1582px #FFF , 1849px 793px #FFF , 1094px 856px #FFF , 1388px 1496px #FFF , 753px 1749px #FFF , 1265px 1966px #FFF , 1661px 466px #FFF , 1540px 1065px #FFF , 290px 536px #FFF , 1944px 994px #FFF , 1621px 501px #FFF , 467px 433px #FFF , 1983px 1791px #FFF , 1894px 622px #FFF , 303px 452px #FFF , 757px 1685px #FFF , 308px 1722px #FFF , 1022px 521px #FFF , 1108px 1251px #FFF , 1509px 786px #FFF , 1972px 1082px #FFF , 573px 1678px #FFF , 1495px 993px #FFF , 795px 1946px #FFF , 559px 1509px #FFF , 1316px 146px #FFF , 1628px 347px #FFF , 850px 1498px #FFF , 1710px 1403px #FFF , 1113px 80px #FFF , 1919px 1245px #FFF , 847px 401px #FFF , 463px 1643px #FFF , 1212px 1793px #FFF , 1274px 1832px #FFF , 241px 1606px #FFF , 832px 1966px #FFF , 1195px 915px #FFF , 1435px 756px #FFF , 1586px 1384px #FFF , 1416px 671px #FFF , 1146px 1509px #FFF , 790px 77px #FFF , 1121px 1357px #FFF , 1514px 817px #FFF , 480px 787px #FFF , 846px 669px #FFF , 438px 1571px #FFF , 1109px 1951px #FFF;
    animation: animStar 35s linear infinite;
  }
  #stars:after {
    content: " ";
    top: 50px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 916px 313px #FFF , 1625px 1274px #FFF , 1174px 423px #FFF , 1188px 510px #FFF , 1474px 1372px #FFF , 1366px 1269px #FFF , 1236px 1435px #FFF , 896px 1597px #FFF , 1158px 173px #FFF , 1260px 598px #FFF , 1895px 918px #FFF , 1478px 1904px #FFF , 662px 1310px #FFF , 1275px 1975px #FFF , 522px 563px #FFF , 286px 1593px #FFF , 46px 1523px #FFF , 1867px 629px #FFF , 1163px 1824px #FFF , 772px 1855px #FFF , 364px 1840px #FFF , 1523px 557px #FFF , 688px 804px #FFF , 378px 1655px #FFF , 120px 574px #FFF , 1357px 647px #FFF , 16px 498px #FFF , 1183px 1525px #FFF , 529px 1796px #FFF , 1757px 558px #FFF , 953px 1553px #FFF , 1236px 836px #FFF , 1298px 1850px #FFF , 1909px 1455px #FFF , 378px 1810px #FFF , 801px 1736px #FFF , 1485px 513px #FFF , 912px 1564px #FFF , 71px 1228px #FFF , 732px 249px #FFF , 1290px 972px #FFF , 1385px 184px #FFF , 625px 853px #FFF , 1178px 1878px #FFF , 1897px 1771px #FFF , 35px 925px #FFF , 827px 106px #FFF , 226px 1274px #FFF , 1886px 1550px #FFF , 1508px 179px #FFF , 22px 816px #FFF , 1937px 227px #FFF , 50px 1671px #FFF , 1680px 1890px #FFF , 1642px 1087px #FFF , 1124px 1300px #FFF , 170px 1538px #FFF , 872px 94px #FFF , 326px 447px #FFF , 1088px 482px #FFF , 939px 261px #FFF , 863px 538px #FFF , 1937px 347px #FFF , 1878px 1972px #FFF , 1346px 1506px #FFF , 573px 607px #FFF , 1009px 1082px #FFF , 813px 1068px #FFF , 805px 268px #FFF , 1019px 1133px #FFF , 1282px 1945px #FFF , 276px 1489px #FFF , 574px 583px #FFF , 1333px 675px #FFF , 325px 1963px #FFF , 674px 946px #FFF , 1274px 511px #FFF , 1407px 736px #FFF , 841px 1216px #FFF , 703px 649px #FFF , 1638px 131px #FFF , 1603px 1246px #FFF , 891px 556px #FFF , 749px 1853px #FFF , 1608px 169px #FFF , 442px 589px #FFF , 966px 1298px #FFF , 85px 740px #FFF , 525px 180px #FFF , 1922px 1379px #FFF , 1878px 857px #FFF , 371px 1217px #FFF , 222px 1460px #FFF , 1995px 435px #FFF , 957px 167px #FFF , 1119px 1438px #FFF , 1411px 360px #FFF , 365px 937px #FFF , 1040px 1308px #FFF , 1953px 1230px #FFF , 1427px 1895px #FFF , 1967px 222px #FFF , 1200px 1193px #FFF , 477px 765px #FFF , 1931px 1651px #FFF , 1395px 639px #FFF , 142px 1359px #FFF , 1398px 486px #FFF , 904px 834px #FFF , 938px 613px #FFF , 474px 906px #FFF , 274px 476px #FFF , 785px 1135px #FFF , 772px 126px #FFF , 1351px 214px #FFF , 270px 199px #FFF , 1746px 636px #FFF , 1889px 7px #FFF , 582px 1974px #FFF , 488px 800px #FFF , 684px 785px #FFF , 197px 1140px #FFF , 1033px 127px #FFF , 426px 923px #FFF , 315px 1391px #FFF , 428px 770px #FFF , 978px 132px #FFF , 65px 953px #FFF , 1069px 939px #FFF , 686px 1779px #FFF , 674px 1763px #FFF , 434px 1745px #FFF , 1237px 51px #FFF , 794px 1967px #FFF , 136px 82px #FFF , 1795px 385px #FFF , 1477px 1877px #FFF , 387px 144px #FFF , 213px 919px #FFF , 661px 1242px #FFF , 747px 1553px #FFF , 1868px 538px #FFF , 1395px 1298px #FFF , 801px 1447px #FFF , 673px 92px #FFF , 282px 380px #FFF , 1773px 1140px #FFF , 870px 4px #FFF , 443px 1619px #FFF , 394px 905px #FFF , 715px 714px #FFF , 294px 444px #FFF , 1170px 1591px #FFF , 1179px 792px #FFF , 547px 1794px #FFF , 1021px 427px #FFF , 765px 1330px #FFF , 560px 772px #FFF , 1874px 909px #FFF , 1998px 100px #FFF , 537px 560px #FFF , 432px 1808px #FFF , 941px 1778px #FFF , 1477px 1357px #FFF , 1876px 1377px #FFF , 138px 1522px #FFF , 624px 1331px #FFF , 739px 834px #FFF , 1944px 1994px #FFF , 1012px 1429px #FFF , 1518px 1205px #FFF , 574px 1987px #FFF , 1260px 1111px #FFF , 1489px 278px #FFF , 1614px 840px #FFF , 1128px 175px #FFF , 1140px 1373px #FFF , 80px 444px #FFF , 1632px 1522px #FFF , 1074px 320px #FFF , 1737px 1209px #FFF , 478px 983px #FFF , 90px 755px #FFF , 1700px 564px #FFF , 1725px 1016px #FFF , 1765px 369px #FFF , 1027px 1873px #FFF , 810px 1600px #FFF , 265px 1118px #FFF , 388px 103px #FFF , 1839px 871px #FFF , 1946px 239px #FFF , 1591px 411px #FFF , 156px 667px #FFF , 1363px 989px #FFF , 543px 1132px #FFF , 1343px 1911px #FFF , 406px 1020px #FFF , 1021px 505px #FFF , 718px 1090px #FFF , 633px 1225px #FFF , 447px 1651px #FFF , 1363px 360px #FFF , 1306px 381px #FFF , 617px 709px #FFF , 732px 236px #FFF , 1277px 916px #FFF , 752px 205px #FFF , 865px 1749px #FFF , 416px 131px #FFF , 620px 945px #FFF , 1899px 227px #FFF , 247px 67px #FFF , 570px 475px #FFF , 1728px 1551px #FFF , 1425px 557px #FFF , 1031px 865px #FFF , 762px 1534px #FFF , 1146px 1512px #FFF , 1383px 1158px #FFF , 766px 704px #FFF , 1429px 1728px #FFF , 417px 226px #FFF , 98px 740px #FFF , 154px 1696px #FFF , 263px 221px #FFF , 1488px 1628px #FFF , 531px 990px #FFF , 733px 1545px #FFF , 1160px 1316px #FFF , 130px 1909px #FFF , 863px 19px #FFF , 363px 1168px #FFF , 1997px 767px #FFF , 1762px 888px #FFF , 168px 1868px #FFF , 455px 1719px #FFF , 1685px 362px #FFF , 1905px 932px #FFF , 297px 1409px #FFF , 1950px 1129px #FFF , 58px 1359px #FFF , 1177px 1554px #FFF , 353px 912px #FFF , 521px 1860px #FFF , 518px 62px #FFF , 87px 861px #FFF , 988px 145px #FFF , 871px 1491px #FFF , 613px 115px #FFF , 925px 1458px #FFF , 179px 524px #FFF , 537px 1641px #FFF , 768px 514px #FFF , 441px 33px #FFF , 1793px 1643px #FFF , 158px 1069px #FFF , 347px 1404px #FFF , 902px 65px #FFF , 419px 977px #FFF , 1575px 585px #FFF , 314px 180px #FFF , 89px 1755px #FFF , 593px 985px #FFF , 1292px 853px #FFF , 613px 83px #FFF , 212px 1639px #FFF , 1609px 1997px #FFF , 680px 1487px #FFF , 1505px 88px #FFF , 1598px 850px #FFF , 298px 182px #FFF , 643px 868px #FFF , 1585px 304px #FFF , 616px 1188px #FFF , 854px 1159px #FFF , 55px 46px #FFF , 740px 1197px #FFF , 740px 229px #FFF , 1841px 536px #FFF , 229px 998px #FFF , 1180px 38px #FFF , 1745px 1375px #FFF , 1351px 1637px #FFF , 964px 76px #FFF , 1757px 1981px #FFF , 1075px 1858px #FFF , 231px 1580px #FFF , 559px 1327px #FFF , 120px 1815px #FFF , 1767px 488px #FFF , 402px 1146px #FFF , 1022px 478px #FFF , 1195px 1762px #FFF , 1731px 741px #FFF , 919px 127px #FFF , 705px 789px #FFF , 360px 1967px #FFF , 1638px 737px #FFF , 1301px 219px #FFF , 1456px 950px #FFF , 338px 337px #FFF , 551px 20px #FFF , 778px 718px #FFF , 718px 1881px #FFF , 601px 1677px #FFF , 238px 1429px #FFF , 1128px 564px #FFF , 227px 342px #FFF , 1641px 1344px #FFF , 1950px 1043px #FFF , 194px 768px #FFF , 1276px 1316px #FFF , 986px 1145px #FFF , 1155px 294px #FFF , 755px 532px #FFF , 1153px 233px #FFF , 1449px 17px #FFF , 816px 1971px #FFF , 615px 1991px #FFF , 1125px 990px #FFF , 644px 743px #FFF , 425px 473px #FFF , 1335px 1649px #FFF , 405px 1130px #FFF , 310px 1690px #FFF , 1997px 52px #FFF , 1616px 292px #FFF , 1764px 1394px #FFF , 369px 455px #FFF , 1633px 605px #FFF , 1391px 364px #FFF , 1980px 21px #FFF , 1905px 146px #FFF , 571px 1952px #FFF , 1435px 1294px #FFF , 1985px 1887px #FFF , 1397px 598px #FFF , 524px 1489px #FFF , 1939px 353px #FFF , 76px 1788px #FFF , 1329px 1009px #FFF , 190px 1239px #FFF , 1923px 138px #FFF , 931px 705px #FFF , 1386px 901px #FFF , 848px 597px #FFF , 1536px 764px #FFF , 1622px 1160px #FFF , 1952px 1581px #FFF , 1646px 1937px #FFF , 1248px 1468px #FFF , 566px 1818px #FFF , 588px 730px #FFF , 1379px 1233px #FFF , 331px 86px #FFF , 341px 1525px #FFF , 1023px 152px #FFF , 1197px 427px #FFF , 958px 1740px #FFF , 1467px 1039px #FFF , 538px 1080px #FFF , 1806px 25px #FFF , 1690px 501px #FFF , 503px 1041px #FFF , 1869px 1126px #FFF , 1487px 729px #FFF , 369px 549px #FFF , 696px 196px #FFF , 56px 590px #FFF , 539px 1875px #FFF , 1578px 1381px #FFF , 1938px 536px #FFF , 1256px 169px #FFF , 879px 189px #FFF , 533px 104px #FFF , 146px 389px #FFF , 1529px 1713px #FFF , 1022px 620px #FFF , 1184px 714px #FFF , 943px 627px #FFF , 1094px 1758px #FFF , 108px 829px #FFF , 855px 1793px #FFF , 1224px 1699px #FFF , 1107px 779px #FFF , 1013px 1150px #FFF , 667px 1556px #FFF , 1310px 1841px #FFF , 211px 1618px #FFF , 1222px 1320px #FFF , 1784px 1599px #FFF , 610px 743px #FFF , 1781px 1697px #FFF , 159px 1597px #FFF , 1021px 359px #FFF , 1224px 847px #FFF , 140px 301px #FFF , 1915px 1800px #FFF , 871px 1789px #FFF , 1298px 633px #FFF , 174px 140px #FFF , 1013px 415px #FFF , 1971px 1002px #FFF , 1472px 1933px #FFF , 1005px 1041px #FFF , 346px 676px #FFF , 504px 325px #FFF , 1735px 1450px #FFF , 1168px 1594px #FFF , 1604px 1560px #FFF , 1686px 444px #FFF , 784px 1293px #FFF , 699px 1520px #FFF , 1px 1823px #FFF , 1787px 983px #FFF , 1051px 664px #FFF , 961px 375px #FFF , 163px 927px #FFF , 615px 1827px #FFF , 152px 1094px #FFF , 1503px 205px #FFF , 558px 911px #FFF , 461px 1196px #FFF , 1762px 240px #FFF , 1787px 1243px #FFF , 925px 1415px #FFF , 1183px 1795px #FFF , 513px 97px #FFF , 185px 215px #FFF , 1895px 1045px #FFF , 762px 876px #FFF , 946px 446px #FFF , 1150px 1486px #FFF , 255px 1571px #FFF , 911px 219px #FFF , 284px 1542px #FFF , 1235px 1478px #FFF , 1109px 495px #FFF , 223px 1618px #FFF , 191px 1326px #FFF , 1293px 687px #FFF , 1082px 67px #FFF , 1472px 768px #FFF , 1494px 1474px #FFF , 1559px 1201px #FFF , 1404px 659px #FFF , 953px 1215px #FFF , 1360px 20px #FFF , 223px 185px #FFF , 790px 589px #FFF , 753px 683px #FFF , 1162px 947px #FFF , 925px 1416px #FFF , 1459px 1681px #FFF , 1004px 399px #FFF , 1937px 1959px #FFF , 524px 431px #FFF , 1174px 144px #FFF , 717px 1241px #FFF , 705px 639px #FFF , 1703px 1279px #FFF , 202px 1244px #FFF , 207px 284px #FFF , 1101px 355px #FFF , 1056px 1837px #FFF , 570px 558px #FFF , 1583px 1372px #FFF , 36px 1857px #FFF , 1994px 1162px #FFF , 694px 1613px #FFF , 1990px 1724px #FFF , 346px 1450px #FFF , 294px 861px #FFF , 1431px 17px #FFF , 1785px 742px #FFF , 301px 364px #FFF , 921px 25px #FFF , 978px 330px #FFF , 562px 1874px #FFF , 1391px 636px #FFF , 883px 57px #FFF , 626px 1481px #FFF , 1345px 1346px #FFF , 411px 719px #FFF , 128px 743px #FFF , 1157px 1751px #FFF , 858px 204px #FFF , 472px 829px #FFF , 1181px 1673px #FFF , 193px 282px #FFF , 1746px 1805px #FFF , 91px 1578px #FFF , 1659px 27px #FFF , 1090px 126px #FFF , 1152px 608px #FFF , 85px 1322px #FFF , 732px 1537px #FFF , 1358px 1036px #FFF , 635px 631px #FFF , 204px 651px #FFF , 907px 450px #FFF , 475px 1770px #FFF , 1668px 1656px #FFF , 1775px 1279px #FFF , 1839px 673px #FFF , 1348px 1538px #FFF , 1680px 1439px #FFF , 776px 508px #FFF , 543px 300px #FFF , 1792px 665px #FFF , 94px 186px #FFF , 1511px 776px #FFF , 567px 390px #FFF , 1359px 1467px #FFF , 227px 110px #FFF , 1689px 901px #FFF , 1744px 951px #FFF , 369px 475px #FFF , 1948px 827px #FFF , 277px 31px #FFF , 86px 1014px #FFF , 692px 1670px #FFF , 1944px 1003px #FFF , 1157px 1424px #FFF , 911px 1927px #FFF , 1915px 1297px #FFF , 1344px 1122px #FFF , 1516px 1999px #FFF , 735px 1768px #FFF , 801px 123px #FFF , 420px 1987px #FFF , 696px 14px #FFF , 774px 1797px #FFF , 389px 1962px #FFF , 1779px 1522px #FFF , 1940px 654px #FFF , 1172px 1802px #FFF , 588px 833px #FFF , 379px 1545px #FFF , 1265px 346px #FFF , 843px 1595px #FFF , 766px 731px #FFF , 368px 242px #FFF , 845px 721px #FFF , 387px 1238px #FFF , 1072px 1080px #FFF , 1651px 1375px #FFF , 964px 761px #FFF , 497px 1826px #FFF , 1609px 1382px #FFF , 1488px 1223px #FFF , 1442px 1579px #FFF , 1088px 1921px #FFF , 1553px 1672px #FFF , 1658px 671px #FFF , 291px 1945px #FFF , 1516px 275px #FFF , 95px 1995px #FFF , 1931px 1420px #FFF , 175px 856px #FFF , 888px 114px #FFF , 660px 1524px #FFF , 888px 251px #FFF , 1060px 1110px #FFF , 1222px 1428px #FFF , 1039px 1631px #FFF , 1277px 1005px #FFF , 257px 494px #FFF , 182px 915px #FFF , 1898px 1443px #FFF , 1381px 1961px #FFF , 857px 1869px #FFF , 378px 179px #FFF , 1570px 1523px #FFF , 265px 1168px #FFF , 1883px 1051px #FFF , 1056px 580px #FFF , 1371px 1729px #FFF , 246px 1578px #FFF , 1807px 1464px #FFF , 680px 21px #FFF , 14px 433px #FFF , 413px 1089px #FFF , 93px 565px #FFF , 754px 769px #FFF , 1075px 621px #FFF , 1014px 1611px #FFF , 1418px 486px #FFF , 491px 1186px #FFF , 445px 163px #FFF , 266px 1768px #FFF , 1926px 131px #FFF , 1955px 1115px #FFF , 200px 816px #FFF , 715px 273px #FFF , 1354px 1505px #FFF , 681px 1675px #FFF , 386px 539px #FFF , 1245px 635px #FFF , 971px 9px #FFF , 1317px 1885px #FFF , 1473px 1528px #FFF , 1182px 641px #FFF , 618px 1156px #FFF , 81px 49px #FFF , 1108px 620px #FFF , 777px 1835px #FFF , 15px 1593px #FFF , 1850px 1336px #FFF , 1753px 308px #FFF , 816px 679px #FFF , 202px 567px #FFF , 1308px 826px #FFF , 465px 1675px #FFF , 78px 1781px #FFF , 677px 608px #FFF , 1752px 325px #FFF , 543px 1823px #FFF , 791px 1811px #FFF , 1633px 621px #FFF , 1145px 320px #FFF , 584px 1637px #FFF , 1333px 531px #FFF , 787px 1237px #FFF , 750px 1106px #FFF , 559px 1407px #FFF , 1765px 552px #FFF , 1489px 589px #FFF , 1072px 1714px #FFF , 1683px 1042px #FFF , 137px 342px #FFF , 77px 609px #FFF , 1939px 1825px #FFF , 1021px 236px #FFF , 1407px 1909px #FFF , 1587px 351px #FFF , 720px 1672px #FFF , 754px 88px #FFF , 233px 1121px #FFF , 559px 1537px #FFF , 605px 225px #FFF , 1707px 1238px #FFF , 389px 845px #FFF , 153px 1266px #FFF , 350px 1444px #FFF , 887px 85px #FFF , 146px 1721px #FFF , 384px 1026px #FFF , 1494px 902px #FFF , 1983px 106px #FFF , 530px 1582px #FFF , 1849px 793px #FFF , 1094px 856px #FFF , 1388px 1496px #FFF , 753px 1749px #FFF , 1265px 1966px #FFF , 1661px 466px #FFF , 1540px 1065px #FFF , 290px 536px #FFF , 1944px 994px #FFF , 1621px 501px #FFF , 467px 433px #FFF , 1983px 1791px #FFF , 1894px 622px #FFF , 303px 452px #FFF , 757px 1685px #FFF , 308px 1722px #FFF , 1022px 521px #FFF , 1108px 1251px #FFF , 1509px 786px #FFF , 1972px 1082px #FFF , 573px 1678px #FFF , 1495px 993px #FFF , 795px 1946px #FFF , 559px 1509px #FFF , 1316px 146px #FFF , 1628px 347px #FFF , 850px 1498px #FFF , 1710px 1403px #FFF , 1113px 80px #FFF , 1919px 1245px #FFF , 847px 401px #FFF , 463px 1643px #FFF , 1212px 1793px #FFF , 1274px 1832px #FFF , 241px 1606px #FFF , 832px 1966px #FFF , 1195px 915px #FFF , 1435px 756px #FFF , 1586px 1384px #FFF , 1416px 671px #FFF , 1146px 1509px #FFF , 790px 77px #FFF , 1121px 1357px #FFF , 1514px 817px #FFF , 480px 787px #FFF , 846px 669px #FFF , 438px 1571px #FFF , 1109px 1951px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1895px 470px #FFF , 348px 643px #FFF , 21px 1081px #FFF , 562px 699px #FFF , 1620px 110px #FFF , 1411px 322px #FFF , 1716px 1683px #FFF , 1478px 879px #FFF , 471px 1167px #FFF , 1526px 1429px #FFF , 928px 588px #FFF , 840px 48px #FFF , 1353px 1024px #FFF , 942px 586px #FFF , 19px 1987px #FFF , 804px 1635px #FFF , 850px 349px #FFF , 776px 385px #FFF , 1619px 504px #FFF , 923px 1650px #FFF , 33px 1538px #FFF , 1092px 715px #FFF , 691px 1752px #FFF , 1343px 983px #FFF , 538px 767px #FFF , 1820px 300px #FFF , 193px 1378px #FFF , 1187px 467px #FFF , 1536px 1536px #FFF , 848px 981px #FFF , 1230px 1922px #FFF , 881px 1002px #FFF , 1452px 1477px #FFF , 438px 767px #FFF , 208px 1709px #FFF , 1462px 1264px #FFF , 333px 1602px #FFF , 1617px 613px #FFF , 1966px 910px #FFF , 1336px 1283px #FFF , 337px 59px #FFF , 489px 699px #FFF , 1937px 1080px #FFF , 1521px 9px #FFF , 1917px 1361px #FFF , 600px 1253px #FFF , 371px 1491px #FFF , 445px 1013px #FFF , 581px 445px #FFF , 1251px 1573px #FFF , 428px 563px #FFF , 1366px 1490px #FFF , 517px 912px #FFF , 1061px 1525px #FFF , 289px 1463px #FFF , 908px 1237px #FFF , 224px 20px #FFF , 1147px 829px #FFF , 231px 1229px #FFF , 128px 1403px #FFF , 309px 48px #FFF , 1047px 1190px #FFF , 186px 450px #FFF , 477px 563px #FFF , 1435px 1565px #FFF , 1248px 1971px #FFF , 1579px 417px #FFF , 1667px 17px #FFF , 1283px 12px #FFF , 1692px 1195px #FFF , 1509px 770px #FFF , 804px 234px #FFF , 702px 722px #FFF , 1617px 1558px #FFF , 1607px 561px #FFF , 1948px 261px #FFF , 1269px 1619px #FFF , 1981px 568px #FFF , 234px 272px #FFF , 624px 1433px #FFF , 1074px 1760px #FFF , 1394px 1877px #FFF , 415px 1916px #FFF , 640px 51px #FFF , 1901px 567px #FFF , 390px 175px #FFF , 1618px 1915px #FFF , 1884px 1199px #FFF , 1324px 1905px #FFF , 992px 1221px #FFF , 569px 8px #FFF , 1435px 1520px #FFF , 1716px 1317px #FFF , 994px 788px #FFF , 314px 1019px #FFF , 387px 1793px #FFF , 983px 1034px #FFF , 1877px 1068px #FFF , 554px 1573px #FFF , 1699px 1458px #FFF , 182px 339px #FFF , 457px 1227px #FFF , 127px 257px #FFF , 1885px 47px #FFF , 934px 701px #FFF , 692px 805px #FFF , 1084px 1421px #FFF , 1353px 226px #FFF , 1724px 1551px #FFF , 1534px 1834px #FFF , 531px 536px #FFF , 1411px 935px #FFF , 1072px 1187px #FFF , 1464px 1563px #FFF , 315px 516px #FFF , 633px 689px #FFF , 1902px 1964px #FFF , 1600px 130px #FFF , 1364px 731px #FFF , 1385px 323px #FFF , 1215px 604px #FFF , 1375px 1042px #FFF , 368px 1587px #FFF , 1178px 1646px #FFF , 1396px 906px #FFF , 1647px 1800px #FFF , 151px 120px #FFF , 1803px 714px #FFF , 1125px 1238px #FFF , 1492px 1320px #FFF , 1925px 1607px #FFF , 1954px 1847px #FFF , 1113px 1660px #FFF , 606px 868px #FFF , 455px 1639px #FFF , 13px 1205px #FFF , 139px 234px #FFF , 660px 1669px #FFF , 250px 1860px #FFF , 1400px 15px #FFF , 397px 1888px #FFF , 358px 1993px #FFF , 827px 446px #FFF , 19px 821px #FFF , 921px 1171px #FFF , 1894px 62px #FFF , 131px 1310px #FFF , 1363px 634px #FFF , 1444px 622px #FFF , 348px 1567px #FFF , 1998px 1179px #FFF , 475px 368px #FFF , 1071px 1910px #FFF , 297px 517px #FFF , 1533px 1586px #FFF , 592px 1063px #FFF , 140px 1224px #FFF , 581px 1528px #FFF , 1706px 1396px #FFF , 640px 209px #FFF , 1921px 1467px #FFF , 1415px 1019px #FFF , 568px 1816px #FFF , 1730px 1184px #FFF , 533px 1478px #FFF , 377px 819px #FFF , 306px 260px #FFF , 1549px 292px #FFF , 29px 1745px #FFF , 80px 29px #FFF , 1080px 1458px #FFF , 1503px 877px #FFF , 191px 1046px #FFF , 1256px 168px #FFF , 1518px 428px #FFF , 1544px 1845px #FFF , 1727px 786px #FFF , 1931px 1708px #FFF , 822px 433px #FFF , 410px 1164px #FFF , 871px 817px #FFF , 575px 394px #FFF , 1737px 1799px #FFF , 646px 1956px #FFF , 204px 510px #FFF , 839px 1426px #FFF , 1108px 1867px #FFF , 1104px 259px #FFF , 622px 1284px #FFF , 716px 1238px #FFF , 1956px 465px #FFF , 10px 938px #FFF , 691px 25px #FFF , 836px 1231px #FFF , 1195px 1012px #FFF , 360px 1643px #FFF , 974px 1190px #FFF , 973px 1687px #FFF , 1225px 805px #FFF , 1863px 787px #FFF;
    animation: animStar 80s linear infinite;
  }
  #stars2:after {
    content: " ";
    top: 50px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1895px 470px #FFF , 348px 643px #FFF , 21px 1081px #FFF , 562px 699px #FFF , 1620px 110px #FFF , 1411px 322px #FFF , 1716px 1683px #FFF , 1478px 879px #FFF , 471px 1167px #FFF , 1526px 1429px #FFF , 928px 588px #FFF , 840px 48px #FFF , 1353px 1024px #FFF , 942px 586px #FFF , 19px 1987px #FFF , 804px 1635px #FFF , 850px 349px #FFF , 776px 385px #FFF , 1619px 504px #FFF , 923px 1650px #FFF , 33px 1538px #FFF , 1092px 715px #FFF , 691px 1752px #FFF , 1343px 983px #FFF , 538px 767px #FFF , 1820px 300px #FFF , 193px 1378px #FFF , 1187px 467px #FFF , 1536px 1536px #FFF , 848px 981px #FFF , 1230px 1922px #FFF , 881px 1002px #FFF , 1452px 1477px #FFF , 438px 767px #FFF , 208px 1709px #FFF , 1462px 1264px #FFF , 333px 1602px #FFF , 1617px 613px #FFF , 1966px 910px #FFF , 1336px 1283px #FFF , 337px 59px #FFF , 489px 699px #FFF , 1937px 1080px #FFF , 1521px 9px #FFF , 1917px 1361px #FFF , 600px 1253px #FFF , 371px 1491px #FFF , 445px 1013px #FFF , 581px 445px #FFF , 1251px 1573px #FFF , 428px 563px #FFF , 1366px 1490px #FFF , 517px 912px #FFF , 1061px 1525px #FFF , 289px 1463px #FFF , 908px 1237px #FFF , 224px 20px #FFF , 1147px 829px #FFF , 231px 1229px #FFF , 128px 1403px #FFF , 309px 48px #FFF , 1047px 1190px #FFF , 186px 450px #FFF , 477px 563px #FFF , 1435px 1565px #FFF , 1248px 1971px #FFF , 1579px 417px #FFF , 1667px 17px #FFF , 1283px 12px #FFF , 1692px 1195px #FFF , 1509px 770px #FFF , 804px 234px #FFF , 702px 722px #FFF , 1617px 1558px #FFF , 1607px 561px #FFF , 1948px 261px #FFF , 1269px 1619px #FFF , 1981px 568px #FFF , 234px 272px #FFF , 624px 1433px #FFF , 1074px 1760px #FFF , 1394px 1877px #FFF , 415px 1916px #FFF , 640px 51px #FFF , 1901px 567px #FFF , 390px 175px #FFF , 1618px 1915px #FFF , 1884px 1199px #FFF , 1324px 1905px #FFF , 992px 1221px #FFF , 569px 8px #FFF , 1435px 1520px #FFF , 1716px 1317px #FFF , 994px 788px #FFF , 314px 1019px #FFF , 387px 1793px #FFF , 983px 1034px #FFF , 1877px 1068px #FFF , 554px 1573px #FFF , 1699px 1458px #FFF , 182px 339px #FFF , 457px 1227px #FFF , 127px 257px #FFF , 1885px 47px #FFF , 934px 701px #FFF , 692px 805px #FFF , 1084px 1421px #FFF , 1353px 226px #FFF , 1724px 1551px #FFF , 1534px 1834px #FFF , 531px 536px #FFF , 1411px 935px #FFF , 1072px 1187px #FFF , 1464px 1563px #FFF , 315px 516px #FFF , 633px 689px #FFF , 1902px 1964px #FFF , 1600px 130px #FFF , 1364px 731px #FFF , 1385px 323px #FFF , 1215px 604px #FFF , 1375px 1042px #FFF , 368px 1587px #FFF , 1178px 1646px #FFF , 1396px 906px #FFF , 1647px 1800px #FFF , 151px 120px #FFF , 1803px 714px #FFF , 1125px 1238px #FFF , 1492px 1320px #FFF , 1925px 1607px #FFF , 1954px 1847px #FFF , 1113px 1660px #FFF , 606px 868px #FFF , 455px 1639px #FFF , 13px 1205px #FFF , 139px 234px #FFF , 660px 1669px #FFF , 250px 1860px #FFF , 1400px 15px #FFF , 397px 1888px #FFF , 358px 1993px #FFF , 827px 446px #FFF , 19px 821px #FFF , 921px 1171px #FFF , 1894px 62px #FFF , 131px 1310px #FFF , 1363px 634px #FFF , 1444px 622px #FFF , 348px 1567px #FFF , 1998px 1179px #FFF , 475px 368px #FFF , 1071px 1910px #FFF , 297px 517px #FFF , 1533px 1586px #FFF , 592px 1063px #FFF , 140px 1224px #FFF , 581px 1528px #FFF , 1706px 1396px #FFF , 640px 209px #FFF , 1921px 1467px #FFF , 1415px 1019px #FFF , 568px 1816px #FFF , 1730px 1184px #FFF , 533px 1478px #FFF , 377px 819px #FFF , 306px 260px #FFF , 1549px 292px #FFF , 29px 1745px #FFF , 80px 29px #FFF , 1080px 1458px #FFF , 1503px 877px #FFF , 191px 1046px #FFF , 1256px 168px #FFF , 1518px 428px #FFF , 1544px 1845px #FFF , 1727px 786px #FFF , 1931px 1708px #FFF , 822px 433px #FFF , 410px 1164px #FFF , 871px 817px #FFF , 575px 394px #FFF , 1737px 1799px #FFF , 646px 1956px #FFF , 204px 510px #FFF , 839px 1426px #FFF , 1108px 1867px #FFF , 1104px 259px #FFF , 622px 1284px #FFF , 716px 1238px #FFF , 1956px 465px #FFF , 10px 938px #FFF , 691px 25px #FFF , 836px 1231px #FFF , 1195px 1012px #FFF , 360px 1643px #FFF , 974px 1190px #FFF , 973px 1687px #FFF , 1225px 805px #FFF , 1863px 787px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1131px 1372px #FFF , 1564px 334px #FFF , 827px 182px #FFF , 1292px 412px #FFF , 1661px 1349px #FFF , 1305px 1384px #FFF , 388px 1412px #FFF , 408px 620px #FFF , 1842px 1412px #FFF , 1251px 679px #FFF , 1241px 926px #FFF , 1053px 1602px #FFF , 765px 276px #FFF , 1624px 91px #FFF , 517px 242px #FFF , 1295px 1131px #FFF , 434px 27px #FFF , 924px 1354px #FFF , 1889px 525px #FFF , 1433px 829px #FFF , 176px 268px #FFF , 1121px 1166px #FFF , 809px 306px #FFF , 3px 991px #FFF , 1666px 1189px #FFF , 1584px 1451px #FFF , 529px 425px #FFF , 1865px 1099px #FFF , 896px 839px #FFF , 1897px 867px #FFF , 1498px 1773px #FFF , 995px 594px #FFF , 220px 1419px #FFF , 765px 1375px #FFF , 817px 1882px #FFF , 273px 480px #FFF , 1527px 364px #FFF , 1495px 419px #FFF , 272px 4px #FFF , 727px 512px #FFF , 223px 857px #FFF , 577px 1969px #FFF , 1575px 1565px #FFF , 327px 1533px #FFF , 1494px 935px #FFF , 1699px 1151px #FFF , 1627px 936px #FFF , 1298px 1059px #FFF , 1641px 956px #FFF , 1623px 528px #FFF , 1969px 598px #FFF , 290px 247px #FFF , 75px 1648px #FFF , 1388px 861px #FFF , 27px 1056px #FFF , 335px 1521px #FFF , 240px 1681px #FFF , 797px 586px #FFF , 1px 94px #FFF , 1545px 688px #FFF , 185px 882px #FFF , 1578px 93px #FFF , 1737px 1750px #FFF , 685px 1190px #FFF , 1968px 179px #FFF , 1507px 1604px #FFF , 397px 122px #FFF , 313px 1197px #FFF , 1142px 275px #FFF , 930px 523px #FFF , 846px 599px #FFF , 1663px 1684px #FFF , 1804px 1750px #FFF , 1245px 1323px #FFF , 1497px 708px #FFF , 768px 1973px #FFF , 1575px 1883px #FFF , 1439px 1838px #FFF , 316px 1857px #FFF , 108px 460px #FFF , 68px 205px #FFF , 1684px 1932px #FFF , 186px 20px #FFF , 1423px 1255px #FFF , 805px 1684px #FFF , 732px 1546px #FFF , 317px 1011px #FFF , 967px 1042px #FFF , 728px 319px #FFF , 982px 1786px #FFF , 1828px 1306px #FFF , 31px 1371px #FFF , 1046px 255px #FFF , 196px 1124px #FFF , 1594px 1942px #FFF , 775px 968px #FFF , 1828px 644px #FFF , 1073px 1972px #FFF , 354px 409px #FFF , 592px 1153px #FFF;
    animation: animStar 120s linear infinite;
  }
  #stars3:after {
    content: " ";
    top: 50px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1131px 1372px #FFF , 1564px 334px #FFF , 827px 182px #FFF , 1292px 412px #FFF , 1661px 1349px #FFF , 1305px 1384px #FFF , 388px 1412px #FFF , 408px 620px #FFF , 1842px 1412px #FFF , 1251px 679px #FFF , 1241px 926px #FFF , 1053px 1602px #FFF , 765px 276px #FFF , 1624px 91px #FFF , 517px 242px #FFF , 1295px 1131px #FFF , 434px 27px #FFF , 924px 1354px #FFF , 1889px 525px #FFF , 1433px 829px #FFF , 176px 268px #FFF , 1121px 1166px #FFF , 809px 306px #FFF , 3px 991px #FFF , 1666px 1189px #FFF , 1584px 1451px #FFF , 529px 425px #FFF , 1865px 1099px #FFF , 896px 839px #FFF , 1897px 867px #FFF , 1498px 1773px #FFF , 995px 594px #FFF , 220px 1419px #FFF , 765px 1375px #FFF , 817px 1882px #FFF , 273px 480px #FFF , 1527px 364px #FFF , 1495px 419px #FFF , 272px 4px #FFF , 727px 512px #FFF , 223px 857px #FFF , 577px 1969px #FFF , 1575px 1565px #FFF , 327px 1533px #FFF , 1494px 935px #FFF , 1699px 1151px #FFF , 1627px 936px #FFF , 1298px 1059px #FFF , 1641px 956px #FFF , 1623px 528px #FFF , 1969px 598px #FFF , 290px 247px #FFF , 75px 1648px #FFF , 1388px 861px #FFF , 27px 1056px #FFF , 335px 1521px #FFF , 240px 1681px #FFF , 797px 586px #FFF , 1px 94px #FFF , 1545px 688px #FFF , 185px 882px #FFF , 1578px 93px #FFF , 1737px 1750px #FFF , 685px 1190px #FFF , 1968px 179px #FFF , 1507px 1604px #FFF , 397px 122px #FFF , 313px 1197px #FFF , 1142px 275px #FFF , 930px 523px #FFF , 846px 599px #FFF , 1663px 1684px #FFF , 1804px 1750px #FFF , 1245px 1323px #FFF , 1497px 708px #FFF , 768px 1973px #FFF , 1575px 1883px #FFF , 1439px 1838px #FFF , 316px 1857px #FFF , 108px 460px #FFF , 68px 205px #FFF , 1684px 1932px #FFF , 186px 20px #FFF , 1423px 1255px #FFF , 805px 1684px #FFF , 732px 1546px #FFF , 317px 1011px #FFF , 967px 1042px #FFF , 728px 319px #FFF , 982px 1786px #FFF , 1828px 1306px #FFF , 31px 1371px #FFF , 1046px 255px #FFF , 196px 1124px #FFF , 1594px 1942px #FFF , 775px 968px #FFF , 1828px 644px #FFF , 1073px 1972px #FFF , 354px 409px #FFF , 592px 1153px #FFF;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-1000px);
    }
  }
  
/*fin de la animacion*/

/*Inicio del apartado de contacto*/
.contacto{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.contact-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}
.form-container{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.duo-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.single-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.img-container{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: space-between;
}
.input{
    padding: 15px;
    width: 850px;
    margin-top: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #00bfb3;
    text-align: left;
    font-size: 20px;
    color: #03b5aa;
}
input::placeholder{
    color: #3F3D56;
}
.input-type1{
    width: 400px;
    height: 30px;
}
.input-type3{
    height: 120px;
}
.input-type3:focus{
    outline: none;
}
.form_submit{
    background-color: #00bfb3;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
}
.form_submit:hover{
    transition: 0.3s;
    background-color: #129490;
}
.pref-contact{
    width: 440px;
    height: 30px;
    margin-top: 70px;
    display: flex;
    border: none;
    border-bottom: 3px solid #00bfb3;
    justify-content: space-between;
    margin-left: 10px;
}
.lab-pref{
    font-size: 20px;
    color: #3F3D56;
    display: flex;
    text-align: center;
    margin-top: -10px;
}
select {
    width: 140px;
    margin-top: -20px;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: transparent;
    background-image: url(../img/angles-down-solid\ 1.svg);
    background-repeat: no-repeat;
    background-position: right center;
    color:#129490;
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    padding-left: 5px;
 }
 input:focus{ outline: none;}

/*Footer*/
footer{
    background-color: #1A1D29;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.footer-top{
    color: #F5F5F5;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 5%;
    text-align: center;
}
.footer-top h3{
    margin-top: 30px;
}
.footer-mid{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.columna1, .columna2, .columna3{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1faee;
    font-size: 14px;
}
.columna1, .columna3 h4{
    font-size: 18px;
    margin-bottom: 15px;
}
.columna1{
    display: flex;
    align-items: center;
}
.columna2 img{
    width: 60%;
}
.columna3 img{
    color: #01fdf6;
}
small{
    text-align: center;
    color: #F5F5F5;
}
/* Inicio css tablet */
@media (max-width: 1200px) {
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    .home-container{
        width: 95vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
    }
    .texto{
        width: 50%;
        height: 100%;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
    }
    .texto h1{
        font-size: 80px;
    }
    .texto h4{
        font-size: 32px;
    }
    .foto{
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card{
        padding: 5px;
        margin-bottom: 25px;
    }
    .card h3{
        font-size: 38px;
    }
    .card-header img{
        width: 60px;
        height: 55px;
    }
    /*valores*/
    .valores-container{
        display: flex;
        flex-direction: column;
    }
    .item-content{
        margin-bottom: 15px;
    }
    /*Contacto*/
    .contacto{
        width: 100%;
        height: 100%;
    }
    .contacto h1{
        font-size: 45px;
    }
    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }
    .form-container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .img-container{
        display: flex;
        width: 85%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .img-container img{
        width: 60%;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .input-type1{
        width: 300px;
        height: 30px;
    }
    .input-type3{
        height: 120px;
    }
    .form_submit{
        margin-bottom: 5%;
    }
    .form_submit:hover{
        transition: 0.3s;
        background-color: #129490;
    }
    .mobile-single{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .input-number{
        width: 92%;
        margin-left: -22px;
    }
    .input-number input{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .pref-contact{
        width: 100%;
        height: 30px;
        margin-top: 70px;
        display: flex;
    }
    .lab-pref{
        font-size: 20px;
        color: #3F3D56;
        display: flex;
        text-align: left;
        margin-top: -10px;
    }
    .select-pref{
        width: 32%;
    }
}
/* Inicio de css para celular */
@media (max-width: 750px) {
/* inicio */
.home-container{
    flex-direction: column-reverse;
    width: 95vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 85%;
    height: 50%;
    display: flex;
    margin-top: -30%;
    flex-direction: column;
    align-items: center;
}
.texto h1{
    font-size: 70px;
    color: #edf2f4;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
}
.texto h4{
    font-size: 24px;
    font-weight: semibold;
    color: #30E3CA;
    margin-top: 8%;
}
.foto{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.foto img{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
/* servicios */
.sections-title p{
    font-size: 18px;
    color: #231F20;
    width: 95%;
    margin: 0 auto;
    text-align: left;
}
.card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 90%;
    height: 50%;
    background-color: #1A1D29;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.card-header{
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
    margin-top: 5%;
}
.card-header h3{
    width: 70%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    color: #F5F5F5;
    margin-left: 3%;
}
.card-header img{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: right;
}
.content{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
.content li{
    color: #F5F5F5;
    font-size: 18px;
    padding: 5px;
}

/* valores */

.valores-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 2%;
    padding: 5px;
}
.item-container{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.item{
    height: 220px;
    padding: 5;
    margin-bottom: 5%;
}
.title-item{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #3CA495;
    font-weight: bold;
    font-size: 32px;
}
.item-content{
    width: 95%;
    height: 90%;
    color: #F5F5F5;
    font-size: 18px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

/*proyectos*/
.proyectos-container{
    flex-direction: column;
}
.circle-container{
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #F5F5F5;
}
.circle-container:hover{
    transition: 1.2s;
    color: #30E3CA;
    text-shadow: 0 0 20px #4f9;
}
.circle-item{
    width: 50px;
    height: 50px;
    background-color: #30E3CA;
    border-radius: 50%;
    box-shadow: 0 0 20px #4f9;
    cursor: pointer;
}
#circle1, #circle3{
    margin-top: 5%;
}
.item-explained{
    width: 85%;
    height: 400px;
    background-color: #1A1D29;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: none;
}
.logo-item img{
    width: 60%;
}
.content-item{
    margin-left: 2%;
    margin-right: 2%;
    color: #F5F5F5;
    text-align: left;
    font-size: 18px;
}
.lenguajes-logo{
    width: 95%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.lenguajes-logo img{
    width: 60px;
    height: 60px;
}
.item-button{
    display: flex;
    background-color: #30E3CA;
    width: 95%;
    height: 45px;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-button a{
    color: #F5F5F5;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/*contacto*/
.input-type1{
    width: 85%;
    height: 30px;
    padding: 5px;
}
/*Footer*/
footer{
    z-index: 4;
}
.footer-top{
    width: 90%;
    font-size: 18px;
    margin: 0 auto;
}
.footer-top h3{
    margin-top: 30px;
}
.footer-mid{
    width: 85%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
.columna1, .columna3{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0 auto;
}
.columna1, .columna3 h4{
    font-size: 16px;
    margin-bottom: 15px;
}
.columna1{
    display: flex;
    align-items: center;
}
.columna2 img{
    display: none;
}
.columna3 img{
    color: #01fdf6;
}
}
